@import url(//fonts.googleapis.com/css?family=Montserrat:300,500);
.service-26 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}
.container{
    margin-top: 180px;
}
.text-megna{
    color: green
}

.service-26 h1, .service-26 h2, .service-26 h3, .service-26 h4, .service-26 h5, .service-26 h6 {
  color: #d67272;
}

.service-26 .font-weight-medium {
	font-weight: 500;
}

.service-26 .wrap-service-26 .max-box {
    max-width: 580px;
}
  
  .btn {
  color: aliceblue;
  background-color:rgb(55, 117, 119);
}
.img-fluid {
  border-radius: 50%;
}
  