<div class="container">
    <div class="title">
        <h2>QUEM SOMOS?</h2>
    </div>
    <div class="row">
        <div class="col-12">
             <p>
               Apenas a simulaçao de algo escrito aqui
             </p>
        </div>
        <div class="col-6">
            <p>Lorem Ipsum é simplesmente uma simulação de texto da
             indústria tipográfica e de impressos, e vem sendo utilizado
              </p> 
        </div>
        <div class="col-6">
            <p>Lorem Ipsum é simplesmente uma simulação de texto da
             indústria tipográfica e de impressos, e vem sendo utilizado
              </p> 
        </div>
        <div class="col-4">
            <div class="titulo">
                <h5>Lorem ipsum</h5>
            </div>
            <div class="text">
                <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos,
                    e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja
                     de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não
                      </p>
            </div>
        </div>
        <div class="col-4">
            <div class="titulo">
                <h5>Lorem ipsum</h5>
            </div>
            <div class="text">
                <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos,
                    e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja
                     de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não
                      </p>
            </div>          
        </div>
        <div class="col-4">
            <div class="titulo">
                <h5>Lorem ipsum</h5>
            </div>
            <div class="text">
                <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos,
                    e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja
                     de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não
                   </p>
            </div>
        </div>
    </div>
</div>