.container{
    background-color: rgb(224, 233, 233);
}
.title {
    justify-content: center;
    align-items: center;
    display: flex;
    color: rgb(163, 143, 143);  
    margin: 120px;
    margin-top: 220px;
    padding-top: 40px;
}
.titulo {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 15px;
}
.text {
    padding-top: 14px;
}
.col-4 {
    border: 1px solid #242421;
    margin-top: 80px;
}
.col-6 {
    padding-top: 70px;
}
.col-12 {
    align-items: center;
    justify-content: center;
    display: flex;
}