.contact {
    padding: 4%;
}
.col-md-3 {
    background-color: cadetblue;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info {
    margin-top:10%;
}
.contact-info img {
    margin-bottom: 15%;
}
.contact-info h2 {
    margin-bottom: 10%;
}
.col-md-9 {
    background: #f8f8f8;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label {
    font-weight:600;
}
.contact-form button { 
    background-color: rgb(2, 2, 2);
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus {
    box-shadow:none;
}
