<section id="pricing" class="pricing-content section-padding">
	<div class="container">					
		<div class="section-title text-center">
			<h1>Preços de planos</h1>
			<p>Preço acessível para todos que busca desempenho</p>
		</div>					
		<div class="row text-center">									
			<div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
				<div class="single-pricing">
					<div class="price-head">								
						<h2>simples</h2>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<h1 class="price">R$39</h1>
					<h5>Mensal</h5>
					<ul>
						<li>5 site</li>
						<li>50GB Espaço livre</li>
						<li>50 email</li>
					</ul>
					<a href="#">Começar</a>
				</div>
			</div><!--- END COL -->	
			<div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
				<div class="single-pricing">
					<div class="price-head">								
						<h2>popular</h2>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<h1 class="price">R$49</h1>
					<h5>Mensal</h5>
					<ul>
						<li>10 site</li>
						<li>50GB espaço livre</li>
						<li>50 Email</li>
						<li>50GB internet</li>
						<li>10 Subdomínios</li>
					</ul>
					<a href="#">Começar</a>
				</div>
			</div><!--- END COL -->	
			<div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
				<div class="single-pricing single-pricing-white">
					<div class="price-head">								
						<h2>Avançado</h2>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<span class="price-label">+ vendido</span>
					<h1 class="price">R$69</h1>
					<h5>Mensal</h5>
					<ul>
						<li>15 website</li>
						<li>50GB Disk Space</li>
						<li>50 Email por DIA</li>
						<li>50GB internet</li>
						<li>10 Subdomains</li>
						<li>15 Domínios</li>
						<li>+ Apoio ilimitado</li>
					</ul>
					<a href="#">Começar</a>
				</div>
			</div><!--- END COL -->			  
		</div><!--- END ROW -->
	</div><!--- END CONTAINER -->
</section>