<div class="container">
    <div class="titulo1">
          Planos
    </div>
    <div class="row">
        <div class="col-3">
            <div class="titulo2">
                <p>
                    <b>Hospedagem P</b>
                </p>
            </div>
             <div class="text">
                <p>
                     Lorem Ipsum é simplesmente uma 
                </p>
            </div>
            <div class="price d-flex">
                <p style="text-decoration: line-through">R$400,50</p>
                <div class="price2">
                    <p>
                         <b>50%OFF</b>
                    </p>
                </div>
            </div>
            <div class="priece3">
                <p><b>R$ 200,25</b> equivalente a</p>
            </div>
            <div class="priece4">
                <b>R$ 16,68/mês</b>
            </div>
            <div class="col-6">
                <button class="btn btn-primary" type="button">Adquirir</button>
            </div>
        </div> 
        <div class="col-3">
            <div class="titulo2">
                <p>
                    <b>Hospedagem M</b>
                </p>
            </div>
             <div class="text">
                <p>
                     Lorem Ipsum é simplesmente uma 
                </p>
            </div>
            <div class="price d-flex">
                <p style="text-decoration: line-through">R$400,50</p>
                <div class="price2">
                    <p>
                         <b>50%OFF</b>
                    </p>
                </div>
            </div>
            <div class="priece3">
                <p><b>R$ 200,25</b> equivalente a</p>
            </div>
            <div class="priece4">
                <b>R$ 16,68/mês</b>
            </div>
            <div class="col-6">
                <button class="btn btn-primary" type="button">Adquirir</button>
            </div>
        </div> 
        <div class="col-3">
            <div class="titulo2">
                <p>
                    <b>Hospedagem G</b>
                </p>
            </div>
             <div class="text">
                <p>
                     Lorem Ipsum é simplesmente uma
                </p>
            </div>
            <div class="price d-flex">
                <p style="text-decoration: line-through">R$400,50</p>
                <div class="price2">
                    <p>
                         <b>50%OFF</b>
                    </p>
                </div>
            </div>
            <div class="priece3">
                <p><b>R$ 200,25</b> equivalente a</p>
            </div>
            <div class="priece4">
                <b>R$ 16,68/mês</b>
            </div>
            <div class="col-6">
                <button class="btn btn-primary" type="button">Adquirir</button>
            </div>
        </div>
        <div class="col-3">
            <div class="titulo2">
                <p>
                    <b>Hospedagem GG</b>
                </p>
            </div>
             <div class="text">
                <p>
                     Lorem Ipsum é simplesmente uma
                </p>
            </div>
            <div class="price d-flex">
                <p style="text-decoration: line-through">R$400,50</p>
                <div class="price2">
                    <p>
                         <b>50%OFF</b>
                    </p>
                </div>
            </div>
            <div class="priece3">
                <p><b>R$ 200,25</b> equivalente a</p>
            </div>
            <div class="priece4">
                <b>R$ 16,68/mês</b>
            </div>
            <div class="col-6">
                <button class="btn btn-primary" type="button">Adquirir</button>
            </div>
        </div>
    </div>
</div>
